<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block style %}


<style>
/* 登录按钮的css，cursor:pointer当鼠标移到按钮上面时变成小手形状 */
form button{
    width:100%;
    padding:10px;
    background-color:#CDC673;
    border:1px solid black;
    border-radius:4px;
    cursor:pointer;
}
.div-bor{
position: relative;width: 200px;
}
.active:after {
	width:calc(100% - 2px)
}
</style>
    {% endblock %}
</head>
<body class="app sidebar-mini">
    {% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-file-code-o"></i> Add new user</h1>
                <p>User's information</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="show.html">User management</a></li>
            </ul>
        </div>
      <div class="widget-content padded clearfix" style="background-color: #FFF">
          <div class="row">
              <div class="widget-content padded clearfix" style="margin:0 auto;margin-top: 20px;margin-bottom: 20px;font-size: 16px">
                  <form class="" id="my-form" method="post"  action="/add_user/" >
                      <div  class=" form-inline form-group input-group"  >
                          <label  for="name" class="col-sm-3" >Name:</label>
                          <input autocomplete="off" id="name" class='form-control col-sm-5' name="name" type="text" placeholder="Please enter the name:"  required="required"/>
                           <span id="error" style="color: red;visibility: hidden;font-size: 10px" class="col-sm-4">The username already exists!</span>
                      </div>
                      <div  class="form-inline form-group">
                          <label  for="password" class="col-sm-3">Password:</label>
                          <input autocomplete="off" id="password" class='form-control col-sm-5' name="password" type="password"  placeholder="Please enter the password:" required="required"/>
                      </div>
                      <div  class="form-inline form-group">
                          <label  for="gender" class="col-sm-3">Gender:</label>
                          <select id = "gender" name="gender" class="form-control col-sm-5" style="width: 56%">
                              <option>Male</option>
                              <option>Female</option>
                          </select>
                      </div>
                      <div  class="form-inline form-group">
                          <label  for="position" class="col-sm-3">Job position:</label>
                          <select id = "position" name="position" class="form-control col-sm-5" style="width: 56%">
                              <option>Doctor</option>
                              <option>Nurse</option>
                              <option>Nurse Manager</option>
                              <option>Administrator</option>
                          </select>
                      </div>
                      <div  class="form-inline form-group">
                          <label autocomplete="off" for="tel" class="col-sm-3">Tel:</label>
                          <input type="tel" class='form-control col-sm-5'id="tel" name="phone" data-ideal="phone"  placeholder="Please enter mobile number" required="required"/>
                      </div>
                        <div  class="form-inline form-group">
                          <label autocomplete="off" for="description" class="col-sm-3">Description:</label>
                          <input type="text" class='form-control col-sm-5'id="description" name="description" data-ideal="phone"  placeholder="Please describe briefly" required="required"/>
                      </div>
                      <div style="text-align: center;margin-left: -120px">
                          <input  id="user_info_button" type="submit" class="btn btn-info" style="margin-left: 50px" value="Submit" />
                          <input  type="button"  class="btn btn-info"  onclick="javascript:history.go(-1);" style="margin-left: 10px" value="Cancel"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </main>
    {% endblock  %}

{% block script %}
<script>

    $("input").focus(function() {
       $(this).parent("label").addClass("active");
    });

    $("input").blur(function() {
       if ($(this).val() == "") {
           $(this).parent("label").removeClass("active");
            }
    })

    // $(function () {
    //      $("#name").blur(function () {
    //      var user_name = $("#name").val();
    //      if (user_name){
    //           $.ajax({
    //               type:"get",
    //               dataType:"json",
    //               url:"/user/judge/" + user_name + "/0/",
    //               data:{"user_name":user_name},
    //               success:function (data) {
    //                   var message = data.message;
    //                   if(message == "1") {
    //                       document.getElementById('error').style.visibility = 'visible';
    //                       $("#user_info_button").prop('disabled',true);
    //                   }else {
    //                       document.getElementById('error').style.visibility = 'hidden';
    //                       $("#user_info_button").prop('disabled',false);
    //                   }
    //               },
    //           });
    //         }
    //     })
    // });





</script>
{% endblock %}
</body>
</html>