<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block style %}


<style>
/* 登录按钮的css，cursor:pointer当鼠标移到按钮上面时变成小手形状 */
form button{
    width:100%;
    padding:10px;
    background-color:#CDC673;
    border:1px solid black;
    border-radius:4px;
    cursor:pointer;
}
.div-bor{

position: relative;width: 200px;

}

.active:after {
	width:calc(100% - 2px)
}

</style>
    {% endblock %}
</head>
<body class="app sidebar-mini">
    {% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-file-code-o"></i> Add department</h1>
                <p>New department information</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Add department</a></li>
            </ul>
        </div>
      <div class="widget-content padded clearfix" style="background-color: #FFF">
          <div class="row">
              <div class="widget-content padded clearfix" style="margin:0 auto;margin-top: 20px;margin-bottom: 20px;font-size: 16px">
                  <form class="" id="my-form" method="post"  action="/add_department/" >
                      <div  class=" form-inline form-group input-group">
                          <label  for="name" class="col-sm-5" >Department name:</label>
                          <input autocomplete="off" id="name" class='form-control col-sm-7' name="name" type="text" placeholder="Please enter the department name:"  required="required"/>
                      </div>
                      <div  class="form-inline form-group">
                          <label  for="doctor_name" class="col-sm-5">Doctors affiliated with: </label>
                          <input autocomplete="off" id="doctor_name" class='form-control col-sm-7' name="doctor_name" type="text" placeholder="Please enter doctor"  required="required"/>

                      </div>
                      <div  class="form-inline form-group">
                          <label autocomplete="off" for="addr" class="col-sm-5">Department floor:</label>
                          <input type="type" class='form-control col-sm-7'id="addr" name="addr" data-ideal="phone"  placeholder="Please enter the department floor" required="required"/>
                      </div>

                      <div style="text-align: center;margin-left: -120px">
                          <input  id="user_info_button" type="submit" class="btn btn-info" style="margin-left: 50px" value="Add" />
                          <input  type="button"  class="btn btn-info"  onclick="javascript:history.go(-1);" style="margin-left: 10px" value="Cancel"/>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </main>
    {% endblock  %}

{% block script %}
<script>

    $("input").focus(function() {
       $(this).parent("label").addClass("active");
    });

    $("input").blur(function() {
       if ($(this).val() == "") {
           $(this).parent("label").removeClass("active");
            }
    })


</script>
{% endblock %}
</body>
</html>