{% extends "base.html" %}
<html lang="en">
<head>

</head>
<body class="app sidebar-mini">
{% block content %}
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-file-code-o"></i> User Management</h1>
            <p>User details</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">User Management</a></li>
        </ul>
    </div>
    <div class="tile">
        <div class="tile-body">
            <div class="container-fluid main-content">
                <div class="widget-container fluid-height clearfix">
                    <div class="heading clearfix">
                        <i class="icon-table"></i>
                        {% if not result.position == 'Nurse'%}
                        <a id="new_user" class="btn btn-sm btn-primary pull-right"
                           href="/redirect_new_user/"><i
                                class="icon-plus fa fa-plus"></i> Add staff</a>
                        {% endif %}
                    </div>
                    <div class="widget-content padded clearfix">
                        <div class="dataTables_filter">
                            <form class="form-inline">
                                <div class="btn-group">
                                    <span>User Name:</span> <input type="text" class="form-control"
                                                             id="emmployeeId" name="emmployeeId" value="">
                                </div>
                                <div class="btn-group">
                                    <input type="button" class="btn btn-success" value="Search  "
                                           onclick="show_user_info()"/>
                                </div>
                            </form>
                        </div>
                        <div id="w0" class="grid-view">
                            <div class="table-responsive">
                                <table class="table table-hover" id="user_info">
                                    <thead>
                                    <tr align="center">
                                        <th nowrap>ID</th>
                                        <th nowrap>Name</th>
                                        <th nowrap>Gender</th>
                                        <th nowrap>Position</th>
                                        <th nowrap>Mobile</th>
                                        <th nowrap>Time created</th>
                                        <th nowrap>Update time</th>

                                        <th class="action-column" id="operate">Operate</th>
                                    </tr>
                                    </thead>
                                    <tbody align="center">
                                    </tbody>
                                </table>
                                <div id="pages"><span id="spanFirst">Home page</span> <span id="spanPre">Last page</span> <span
                                        id="spanNext">Next page</span> <span id="spanLast">End page</span> The<strong
                                        id="spanPageNum"></strong>Page/<strong id="spanTotalPage"></strong>Page
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" id="form_data" style="margin: 20px;">
        <div class="modal fade" id="modifyUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel">Modify user information</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-inline form-group">
                                <label for="name" class="col-sm-4">Name: </label>
                                <input type="hidden" id="userId" name="userId" type="text"/>
                                <input id="name" class='form-control col-sm-4' name="name" type="text" title="Name"
                                       placeholder="Please enter your name" required="required"/>
                                <span id="error" style="color: red;display: none" class="col-sm-4">Username already exists!</span>
                            </div>

                            <div class="form-inline form-group">
                                <label for="gender" class="col-sm-4">Gender: </label>
                                <select id="gender" title="Gender" name="gender" class="form-control col-sm-4"
                                        style="width: 56%">
                                </select>
                            </div>
<!--                            <div class="form-inline form-group">-->
<!--                                <label for="password" class="col-sm-4">性别: </label>-->
<!--                                <select id="password" title="密码" name="password" class="form-control col-sm-4"-->
<!--                                        style="width: 56%">-->
<!--                                </select>-->
<!--                            </div>-->
                            <div class="form-inline form-group">
                                <label for="position2" class="col-sm-4">Position</label>
                                <select id="position2" name="position2" class="form-control col-sm-4"
                                        style="width: 56%"
                                        title="Position">
                                </select>
                            </div>
                            <div class="form-inline form-group">
                                <label for="phone" class="col-sm-4">Tel:</label>
                                <input type="tel" class='form-control col-sm-4' id="phone" name="phone"
                                       data-ideal="phone"
                                       placeholder="Please enter your mobile phone number" required="required" title="Tel number"
                                       oninvalid="setCustomValidity('Please enter your mobile number');" oninput="setCustomValidity('');"/>
                                <span id="phone_error" style="color: red;visibility: hidden;"
                                      class="col-sm-4">Format wrong</span>

                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                        <input type="button" class="btn btn-primary" id="update" value="Submit"/>


                        <span id="tip"> </span>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->

        </div>
    </form>
</main>
{% endblock %}

{% block script %}
<script type=text/javascript>
    var user_position = "";
    var gender_array = ['Male','Female'];
    var position_array = ['Nurse','Nurse manager','Administrator'];
    function modeify_user_info(userId) {
        document.getElementById('error').style.display = 'none';
        $.ajax({
                type: "get",
                url: "/get_user_by_id/",
                data:{'id':userId},
                success: function (data) {

                    var user_info = data['user'];
                    console.log(user_info)
                    var name = user_info.name;
                    var gender = user_info.gender;
                    var phone = user_info.phone;
                    //回填position
                    var position_option = "";
                    var gender_option = '';
                    for (var j = 0; j < position_array.length; j++) {
                        if (position_array[j] == position) {
                            position_option += "<option selected>" + position_array[j] + "</option>";
                        } else {
                            position_option += "<option>" + position_array[j] + "</option>";
                        }
                    }
                    for (var j = 0; j < gender_array.length; j++) {
                        if (gender_array[j] == gender) {
                            gender_option += "<option selected>" + gender_array[j] + "</option>";
                        } else {
                            gender_option += "<option>" + gender_array[j] + "</option>";
                        }
                    }
                    $("#position2").html(position_option);
                    console.log(name)
                    console.log(phone)
                    $("#name").val(name);
                    $("#phone").val(phone);
                    $("#gender").html(gender_option);

                    $("#userId").val(user_info.id);
                }
            }
        )
    }

    var result = true;

    $('#update').on('click', function () {
            $.ajax({
                type: "POST",
                url: "/modify_user/" ,
                dataType: 'json',
                data: $('#form_data').serialize(),
                success: function (data) {
                    swal(data['message']);
                    window.location.href = '/user/'
                },

            })
    })

    //获取第一页用户信息
    var total_page;

    function get_user_data(current_page) {
        $.ajax({
            type: "get",
            url: "/user/show/",
            async: false,
            dataType: 'json',
            data: {'page': current_page},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
                user_info = data.user;
                total_page = data.total;
            }
        });
        return user_info
    }

    var current_page = 1;
    var totalPage = document.getElementById("spanTotalPage");
    var pageNum = document.getElementById("spanPageNum"); //获取当前页<span>
    var spanPre = document.getElementById("spanPre"); //获取上一页<span>
    var spanNext = document.getElementById("spanNext"); //获取下一页<span>
    var spanFirst = document.getElementById("spanFirst"); //获取第一页<span>
    var spanLast = document.getElementById("spanLast"); //获取最后一页<span>

    var info = get_user_data(current_page);

    function show_table() {
        //获取第一页用户信息
        var table_value = '<tr "data-key" ="1">';
        for (var i = 0; i < info.length; i++) {
            var user_id = info[i].id;
            table_value += "<td>";
            table_value += user_id + "</td><td>";
            table_value += info[i].name + "</td><td>";
            table_value += info[i].gender + "</td><td>";
            table_value += info[i].position + "</td><td>";
            table_value += info[i].phone + "</td><td>";
            table_value += info[i].create_time + "</td><td>";
            table_value += info[i].last_modify_time + "</td><td>";
            if ('{{result.position}}' =='Nurse') {
                table_value += "<a class='btn btn-info' data-toggle='modal' id =" + user_id + " data-target='#modifyUserInfo' onclick='modeify_user_info(this.id)' disabled='disabled'> " + "No permission" + "</a>";

            }
                else{
                table_value += "<a class='btn btn-info' data-toggle='modal' id =" + user_id + " data-target='#modifyUserInfo' onclick='modeify_user_info(this.id)'>" + "Modify information" + "</a>";
                table_value += "<button class='btn btn-danger' id=" + "'" + user_id + "'" + "name='delete' onclick='delete_user_info(this.id)'>Delete</button></td>";
            }
            table_value += "</tr>";
        }
        $("tbody").html(table_value);

        if ((current_page == total_page) & (total_page != 1)) {
            preLink();
            nextText();
            firstLink();
            lastText();
            showCurrentPage();
            showTotalPage();
        } else if ((current_page == total_page) & (total_page == 1)) {
            preText();
            nextText();
            lastText();
            firstText();
            showCurrentPage();
            showTotalPage();
        } else if (current_page == 1) {
            preText();
            nextLink();
            firstText();
            lastLink();
            showCurrentPage();
            showTotalPage();
        } else {
            preLink();
            firstLink();
            nextLink();
            lastLink();
            showCurrentPage();
            showTotalPage();
        }
    }

    show_table();

    function showTotalPage() {
        totalPage.innerHTML = total_page;
    }

    function showCurrentPage() {
        pageNum.innerHTML = current_page;
    }

    //上一页链接
    function preLink() {
        spanPre.innerHTML = "<a href='javascript:pre();'>Last page</a>";
    }

    function preText() {
        spanPre.innerHTML = "Last page";
    }

    //下一页链接
    function nextLink() {
        spanNext.innerHTML = "<a href='javascript:next_page();'>Next page</a>";
    }

    function nextText() {
        spanNext.innerHTML = "Next page";
    }

    //首页链接
    function firstLink() {
        spanFirst.innerHTML = "<a href='javascript:first_page();'>Home page</a>";
    }

    function firstText() {
        spanFirst.innerHTML = "Home page";
    }

    //尾页链接
    function lastLink() {
        spanLast.innerHTML = "<a href='javascript:last_page();'>End page</a>";
    }

    function lastText() {
        spanLast.innerHTML = "End page";
    }

    //上一页
    function pre() {
        current_page -= 1;
        info = get_user_data(current_page);
        show_table()

    }

    //首页
    function first_page() {
        current_page = 1;
        info = get_user_data(current_page);
        show_table()
    }

    //下一页
    function next_page() {
        current_page += 1;
        info = get_user_data(current_page);
        show_table()
    }

    //尾页
    function last_page() {
        current_page = total_page;
        info = get_user_data(current_page);
        show_table()
    }


    //删除用户
    function delete_user_info(user_id) {
        swal({
            title: "Are you sure you want to delete it?",
            text: "You will not be able to recover this user!",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "CONFIRM",
            cancelButtonText: "CANCEL",
            closeOnConfirm: false,
            closeOnCancel: false
        }, function (isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/delete_user/",
                    data: {'user_id': user_id},
                    success: function (data) {
                        window.location.href = '/user';
                        swal("Deleted!" , "User deleted", "success");
                    },
                    error: function (xhr) {
                        swal("Deletion failed!" , "The user has not been deleted", "error");
                    }
                });

            } else {
                swal("Cancelled", "Deletion cancelled :)", "error");
            }
        });

    }

    //通过用户名模糊查询用户
    function show_user_info() {
        current_page = 1;
        let user_name = $('#emmployeeId').val();
        if (user_name) {
            function get_user_info() {
                $.ajax({
                    type: "get",
                    url: "/get_user_by_name/",
                    dataType: "json",
                    data: {'page': current_page, 'name': user_name},
                    contentType: "application/json; charset=utf-8",
                    async: false,
                    success: function (data) {
                        console.log(data);
                        uinfo = data.user;
                        total_page = data.total;
                    },
                    error: function () {
                        var table = document.getElementsByTagName("table")[0];
                        var table_rows = table.rows;
                        for (var i = 1; i < table_rows.length; i++) {
                            table_rows[i].style.display = 'none';
                        }
                        spanPre.innerHTML = "Last page";
                        spanFirst.innerHTML = "Home page";
                        spanNext.innerHTML = "Next page";
                        spanLast.innerHTML = "End page";
                        pageNum.innerHTML = 0;
                        totalPage.innerHTML = 0;
                    }

                });
                return uinfo;
            }
        } else {
            window.location.href = '/user'
        }

        if (user_name == "") {
            show_table()

        } else {
            info = get_user_info();
            show_table()
        }
    }


</script>
{% endblock %}
</body>
</html>