{% extends "base.html" %}
<html lang="en">
<head>

</head>
<body class="app sidebar-mini">
{% block content %}
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fa fa-file-code-o"></i> Department management</h1>
                <p>Department Details</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Departmental Management</a></li>
            </ul>
        </div>
        <div class="tile">
            <div class="tile-body">
                <div class="container-fluid main-content">
                    <div class="widget-container fluid-height clearfix">
                         <div class="heading clearfix">
                              {% if not result.position == 'Nurse'%}
                            <i class="icon-table"></i>

                                <a id="new_user" class="btn btn-sm btn-primary pull-right"
                                   href="/redirect_new_department/"><i
                                        class="icon-plus fa fa-plus"></i> New department</a>
                                {% endif %}
                        </div>
                        <div class="widget-content padded clearfix">
                            <div class="dataTables_filter">
                                <form class="form-inline">
                                    <div class="btn-group">
                                        <span>Department name:</span> <input type="text" class="form-control"
                                                                 id="emmployeeId" name="emmployeeId" value="">
                                    </div>
                                    <div class="btn-group">
                                        <input type="button" class="btn btn-success" value="Search"
                                               onclick="show_user_info()"/>
                                    </div>
                                </form>
                            </div>
                            <div id="w0" class="grid-view">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="user_info">
                                        <thead>
                                        <tr align="center">
                                            <th nowrap>ID</th>
                                            <th nowrap>Department name</th>
                                            <th nowrap>Doctor</th>
                                            <th nowrap>Floor</th>
                                            <th nowrap>Operate</th>
                                        </tr>
                                        </thead>
                                        <tbody align="center">

                                        </tbody>
                                    </table>
                                    <div id="pages"><span id="spanFirst">Home page</span> <span id="spanPre">Last page</span> <span
                                            id="spanNext">Next page</span> <span id="spanLast">End page</span> The<strong
                                            id="spanPageNum"></strong>Page/<strong id="spanTotalPage"></strong>Page
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="form-horizontal" role="form" id="form_data" style="margin: 20px;">
            <div class="modal fade" id="modifyUserInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" id="myModalLabel">Modify department information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-inline form-group">
                                    <label for="name" class="col-sm-4">Department name: </label>
                                    <input type="hidden" id="userId" name="userId" type="text"/>
                                    <input id="name" class='form-control col-sm-4' name="name" type="text" title="Name"
                                           placeholder="Please enter the name of the department" required="required"/>
                                    <span id="error" style="color: red;display: none" class="col-sm-4">Department name already exists!</span>
                                </div>
                                <div class="form-inline form-group">
                                    <label for="doctor_name" class="col-sm-4">Affiliated doctors: </label>
                                    <input id="doctor_name" class='form-control col-sm-4' name="doctor_name" type="text" title="Affiliated doctors"
                                           placeholder="Please enter  doctor" required="required"/>
                                </div>
                                <div class="form-inline formgroup">
                                    <label for="addr" class="col-sm-4">Floor:</label>
                                    <input id="addr" class='form-control col-sm-4' name="addr" type="text" title="Floor:"
                                           placeholder="Please enter floor" required="required"/>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>
                            <input type="button" class="btn btn-primary" id="update" value="Submit"/>


                            <span id="tip"> </span>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->

            </div>
        </form>
    </main>
{% endblock %}

{% block script %}
    <script type=text/javascript>
        var user_position = "";
 function modeify_department_info(departmentId) {
            $.ajax({
                    type: "get",
                    url: "/get_department_by_id/",
                    data:{'department_id':departmentId},
                    success: function (data) {

                        var department_info = data['department'];
                        var name = department_info.name;
                        var doctor_name = department_info.doctor_name;
                       var addr = department_info.addr;
                        $("#name").val(name);
                        $('#addr').val(addr);
                        $("#doctor_name").val(doctor_name);
                        $("#userId").val(department_info.id);
                    }
                }
            )
        }
        var result = true;

        $('#update').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/modify_department/",
                    dataType: 'json',
                    data: $('#form_data').serialize(),
                    success: function (data) {
                        swal(data['message']);
                        window.location.href = '/redirect_department/'
                    },

                })

        })

        //Get user information of the first page
        var total_page;

        function get_department_data(current_page) {
            $.ajax({
                type: "get",
                url: "/query_department/",
                async: false,
                dataType: 'json',
                data:{'page':current_page},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data)
                    user_info = data.department;
                    total_page = data.total;
                }
            });
            return user_info
        }

        var current_page = 1;
        var totalPage = document.getElementById("spanTotalPage");
        var pageNum = document.getElementById("spanPageNum"); //Get current page<span>
        var spanPre = document.getElementById("spanPre"); //Get previous page<span>
        var spanNext = document.getElementById("spanNext"); //Get next page<span>
        var spanFirst = document.getElementById("spanFirst"); //Get the first page<span>
        var spanLast = document.getElementById("spanLast"); //Get the last page<span>

        var info = get_department_data(current_page);
        function show_table() {
            //Get user information of the first page
            var table_value = '<tr "data-key" ="1">';
            for (var i = 0; i < info.length; i++) {
                var department_id = info[i].id;
                table_value += "<td>";
                table_value += department_id + "</td><td>";
                table_value += info[i].name + "</td><td>";
                table_value += info[i].doctor_name + "</td><td>";
                table_value += info[i].addr + "/12Floor</td><td>";
                if ('{{result.position}}' =='Nurse') {
                table_value += "<a class='btn btn-info' data-toggle='modal' id =" + department_id + " data-target='#modifyUserInfo' onclick='modeify_user_info(this.id)' disabled='disabled'> " + "No access" + "</a>";

            }
                else{
                    table_value += "<a class='btn btn-info' data-toggle='modal' id =" + department_id + " data-target='#modifyUserInfo' onclick='modeify_department_info(this.id)'>" + "Edit" + "</a>";
                    table_value += "<button class='btn btn-danger' id=" + "'" + department_id + "'" + "name='delete' onclick='delete_user_info(this.id)'> Delete</button></td>";
                }
                table_value += "</tr>";
            }
            $("tbody").html(table_value);

            if ((current_page == total_page) & (total_page != 1)) {
                preLink();
                nextText();
                firstLink();
                lastText();
                showCurrentPage();
                showTotalPage();
            } else if ((current_page == total_page) & (total_page == 1)) {
                preText();
                nextText();
                lastText();
                firstText();
                showCurrentPage();
                showTotalPage();
            } else if (current_page == 1) {
                preText();
                nextLink();
                firstText();
                lastLink();
                showCurrentPage();
                showTotalPage();
            } else {
                preLink();
                firstLink();
                nextLink();
                lastLink();
                showCurrentPage();
                showTotalPage();
            }
        }

        show_table();

        function showTotalPage() {
            totalPage.innerHTML = total_page;
        }

        function showCurrentPage() {
            pageNum.innerHTML = current_page;
        }

        //Previous page links
        function preLink() {
            spanPre.innerHTML = "<a href='javascript:pre();'>Last page</a>";
        }

        function preText() {
            spanPre.innerHTML = "Last page";
        }

        //Next page links
        function nextLink() {
            spanNext.innerHTML = "<a href='javascript:next_page();'>Next page</a>";
        }

        function nextText() {
            spanNext.innerHTML = "Next page";
        }

        //First page links
        function firstLink() {
            spanFirst.innerHTML = "<a href='javascript:first_page();'>Home page</a>";
        }

        function firstText() {
            spanFirst.innerHTML = "Home page";
        }

        //Last page links
        function lastLink() {
            spanLast.innerHTML = "<a href='javascript:last_page();'>End page</a>";
        }

        function lastText() {
            spanLast.innerHTML = "End page";
        }

        //Previous page
        function pre() {
            current_page -= 1;
            info = get_department_data(current_page);
            show_table()

        }

        //First page
        function first_page() {
            current_page = 1;
            info = get_department_data(current_page);
            show_table()
        }

        //Next page
        function next_page() {
            current_page += 1;
            info = get_department_data(current_page);
            show_table()
        }

        //Last page
        function last_page() {
            current_page = total_page;
            info = get_department_data(current_page);
            show_table()
        }
        //Delete user
        function delete_user_info(department_id) {
            swal({
                title: "Are you sure you want to delete it?",
                text: "You will not be able to recover this section!",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "CONFIRM",
                cancelButtonText: "CANCEL",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/delete_department/",
                        data:{'department_id':department_id},
                        success: function (data) {
                            swal("Deleted!" , "Section removed", "success");
                            window.location.href = '/redirect_department/';
                        },
                        error:function (xhr) {
                            swal("Deletion failed!" , "Section not deleted", "error");
                        }
                    });

                } else {
                    swal("Cancelled", "The delete operation has been cancelled :)", "error");
                }
            });

        }
        //Fuzzy user search by username
        function show_user_info() {
            current_page = 1;
            let department_name = $('#emmployeeId').val();
            if (department_name) {
                function get_user_info() {
                    $.ajax({
                        type: "get",
                        url: "/get_department_by_name/",
                        dataType: "json",
                        data:{'page':current_page,'name':department_name},
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        success: function (data) {
                            uinfo = data.department;
                            total_page = data.total;
                        },
                        error: function () {
                            var table = document.getElementsByTagName("table")[0];
                            var table_rows = table.rows;
                            for (var i = 1; i < table_rows.length; i++) {
                                table_rows[i].style.display = 'none';
                            }
                            spanPre.innerHTML = "Last page";
                            spanFirst.innerHTML = "Home page";
                            spanNext.innerHTML = "Next page";
                            spanLast.innerHTML = "End page";
                            pageNum.innerHTML = 0;
                            totalPage.innerHTML = 0;
                        }

                    });
                    return uinfo;
                }
            } else {
                window.location.href = '/redirect_department'
            }

            if (department_name == "") {
                show_table()

            } else {
                info = get_user_info();
                show_table()
            }
        }


    </script>
{% endblock %}
</body>
</html>